* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background: goldenrod;
    font-family: 'Fredoka One', cursive;
    font-size: 200vw;
    margin: 0 auto;
    letter-spacing: 38px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.overlay {
    position: fixed;
    opacity: 0.8;
    color: gray;
}